.main {
  display: flex;
  padding: 20px;
}

.aside {
  flex: 1;
  padding: 10px;
  background-color: #f4f4f4;
  margin-right: 20px;
}

.main-principal {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal-image {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.exclusive-style {
  border: 5px solid #4CAF50; /* Borde personalizado */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra */
  filter: grayscale(50%); /* Filtro en escala de grises */
  transform: rotate(-5deg) skew(-5deg); /* Transformación */
}

.exclusive-style:hover {
  transform: scale(1.05) rotate(0) skew(0); /* Efecto hover */
  filter: grayscale(0); /* Restablecer filtro al pasar el mouse */
}

.article {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  text-align: left;
}

.article h2 {
  margin-top: 0;
}

.article p {
  font-size: 1.1em;
  line-height: 1.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.contact-form button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #45a049;
}
